.Carousel {
  display: flex;
  flex-direction: column;
  gap: .6rem;
  margin-bottom: 2.5rem;
}

.manicure {
  background-image: url(../../../public/images/manicuria.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
}

.pedicure {
  background-image: url(../../../public/images/pedicuria.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hair {
  background-image: url(../../../public/images/peluqueria.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.smoothing {
  background-image: url(../../../public/images/alisados.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bijouterie {
  background-image: url(../../../public/images/bijouterie.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner {
  display: flex;
  gap: .2rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 1.5rem;
  box-shadow: inset -3px -9px 20px 0px var(--color-shadow-inset);
}

.link-banner {
  background-color: var(--color-black-alpha);
  color: var(--color-white);
  text-decoration: none;
  padding: .3rem .3rem;
  font-size: .65rem;
}

.link-banner:hover {
  background-color: var(--color-secondary);
}

.title-service {
  color: var(--color-white);
  font-weight: 600;
  padding-right: 50%;
}

.title-service-carousel {
  color: var(--color-white);
  font-size: 1.7rem;
  padding-right: 50%;
}

.secundary {
  color: var(--color-white);
  font-size: 1.4rem;
  padding-right: 50%;
}

.banner-carousel {
  width: 100%;
}

.carousel-banners {
  display: grid;
  grid-template-columns: repeat(4, 80%);
  grid-template-rows: 190px;
  overflow-x: auto;
  gap: .2rem;
}



@media screen and (min-width:1024px) {
  
  .Carousel {
    flex-direction: row;
  }

  .carousel-banners {
    width: 60%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50%;
    gap: .5rem;
  }

  .manicure {
    width: 50%;
    height: 350px;
    padding: 2rem;
  }

}