.ItemPricing {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ItemPricing p {
  font-size: 1.2rem;
  font-weight: 600;
}

.ItemPricing span {
  font-weight: 600;
  font-size: 1.3rem;
}

.span-price-pricing {
  color: var(--color-primary);
}