.PricesTurns {
  height: auto;
  margin-bottom: 3rem;
  padding: 0 .5rem;
}

.turns {
  border-bottom: 1px solid rgba(128, 128, 128, 0.514);
}

.title-layer {
  position: relative;
  padding: .7rem 0;
  margin-bottom: .7rem;
}

.line-title {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 50px;
  background-color: black;
}

.banner-prices-container {
  background-image: url(../../../public/images/banner-prices-turns.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 320px;
}

.prices {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 0 .5rem 0 0;
  margin-bottom: 2rem;
}

.h1-prices-turns {
  margin-bottom: .5rem;
  font-size: 2rem;
  font-weight: normal;
}

.link-prices {
  text-decoration: none;
  background-color: var(--color-tertiary);
  color: var(--color-white);
  display: inline-block;
  margin-top: 1rem;
  padding: .5rem .7rem;
  transition: all .3s;
}

.link-prices:hover {
  background-color: black;
}

.turns-component {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container-turns {
  height: 250px;
  overflow-y: auto;
}

.no-turns {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.4rem;
  border: 1px solid var(--color-black-alpha-border);
  padding: 1rem;
}

.no-turns-container {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.btn-turns-request {
  text-decoration: none;
  background-color: var(--color-tertiary);
  color: var(--color-white);
  padding: .5rem 1rem;
  font-size: .7rem;
  transition: all .2s;
}

.btn-turns-request:hover {
  background-color: black;
}

.p-banner {
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.582);
}

@media screen and (min-width:1024px) {
  .PricesTurns {
    display: flex;
    gap: 2rem;
    padding: 0;
  }

  .container-turns {
    height: 500px;
  }

  .p-banner {
    padding-right: 4rem;
  }

  .prices {
    width: 70%;
    margin: 0;
  }

  .myturns {
    width: 30%;
  }
}