.paragraph {
  margin-bottom: 1rem;
  width: 90%;
  border-left: 4px solid var(--color-tertiary);
  padding: 0 1rem;
}

.title-about-mobile {
  margin-bottom: 1.5rem;
  font-weight: normal;
}

.paragraph p {
  line-height: 1.7;
}

.title-comment-user-container {
  margin-top: 1.5rem;
  font-weight: normal;
}

.images-emenails {
  display: flex;
  gap: .5rem;
  width: 100%;
}

.images-emenails-jpg {
  width: 33.3%;
}

.presentation {
  margin-bottom: 3rem;
}

.direction-icon-flex {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.title-direction {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.direction-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

.icon-direction {
  width: 30px;
}

@media screen and (min-width:1024px) {
  .paragraph p {
    width: 80%;
  }
}