.Turns {
  padding: 0 .5rem;
  margin-bottom: 4rem;
}

.form-turns-container {
  border: 1px solid var(--color-black-alpha-border); 
  box-shadow: -8px 9px 17px 0px var(--color-shadow); 
}

.form {
  padding: 1rem .5rem;
  position: relative;
}

.hash {
  border: 1px solid var(--color-tertiary);
  padding: 0 .2rem;
}

.banner-turns {
  background-image: url('../../public/images/turns.jpg');
  background-position: center;
  background-size: cover;
  padding: 1rem;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
}

label {
  font-size: 1rem;
}

input {
  outline: none;
}

.name-email {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

/* .span-form {
  font-weight: 600;
  color: var(--color-tertiary);
} */

.label-name-email {
  display: flex;
  gap: .5rem;
}

.label-name-email input {
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.363);
  font-size: 1rem;
  font-weight: bold;
}

.block-condition {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

.label-checkbox {
  display: flex;
  gap: .3rem;
}

.service-text {
  display: flex;
  flex-direction: column;
  gap: .3rem;
  margin-bottom: 1rem;
}

.hour-day {
  display: flex;
  flex-direction: column;
  gap: .4rem;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.btn-submit {
  padding: 1rem 0;
  font-weight: 600;
  outline: none;
  border: none;
  border: 1px solid var(--color-black-alpha-border);
}

.btn-submit:hover {
  background-color: var(--color-tertiary);
  color: var(--color-white);
}

.turns-paragraphs {
  margin-top: 2rem;
}

.turns-paragraphs p {
  margin: 1rem 0;
}

.turns-paragraphs p, .turns-paragraphs h3 {
  line-height: 1.7;
  padding: 0 1rem;
}

.turns-paragraphs h2 {
  font-weight: normal;
  text-align: center;
  margin-bottom: 1rem;
}

.turns-paragraphs h3 {
  margin-bottom: 1rem;
}

.services-user {
  height: 80px;
  border: 1px solid rgba(128, 128, 128, 0.452);
  overflow-y: auto;
  padding: .3rem;
  display: flex;
  flex-direction: column;
  gap: .2rem;
}

.service-options {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.manicure-service-user {
  display: flex;
  gap: .5rem;
  flex-wrap: wrap;
}

.container-services-user {
  margin: 1rem 0 1.5rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.Turns select {
  padding: .3rem .7rem;
  border-radius: 2px;
  outline: none;
  border: 1px solid rgba(128, 128, 128, 0.377);
}

.day,
.hour {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.bt-clear-services-user {
  padding: .3rem 1rem;
  border-radius: 2px;
  outline: none;
  border: 1px solid rgba(128, 128, 128, 0.377);
}

.btn-quest {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  outline: none;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-quest-active {
  background-color:var(--color-tertiary) ;
  color: var(--color-white);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  outline: none;
  border: 1px solid var(--color-black-alpha-border);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-quest {
  transition: all 2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  width: 80%;
  padding: 1rem;
  border: 1px solid var(--color-black-alpha-border);
  background-color: var(--color-white);
  border-radius: 13px;
  box-shadow: -8px 9px 17px 0px rgb(29 24 30 / 45%); 
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 160px;
}

.quest-display-none {
  display: none;
}

.details-container {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.details-summary {
  padding: .5rem 1rem;
  border-top: 1px solid var(--color-tertiary);
  border-bottom: 1px solid var(--color-tertiary);
  cursor: pointer;
}

@media screen and (min-width:1024px) {
  .Turns {
    padding: 0;
  }
  .form-turns-container {
    display: flex;
    width: 100%;
  }

  .banner-turns {
    width: 50%;
    height: auto;
  }

  .form {
    width: 50%;
    padding: 2rem 1.5rem;
  }

  .banner-turns {
    background-image: url('../../public/images/turns-pc.jpg');
  }

}